.myclass{
    color: red;
    background-color: yellow;
}

.nav-item .active{
    font-weight: bold;
    border-bottom: 2px solid crimson;
    color: crimson !important;
}

.list-back{
    background-image: url("/public/listing-back.jpg");
}

.bg{
    background-image: url('https://assets.hongkiat.com/uploads/minimalist-dekstop-wallpapers/4k/original/15.jpg?3');
    background-size: cover;
    min-height: 100vh;
}