.myclass{
    color: red;
    background-color: yellow;
}

.nav-item .active{
    font-weight: bold;
    border-bottom: 2px solid crimson;
    color: crimson !important;
}

.list-back{
    background-image: url("/public/listing-back.jpg");
}